@model Marketplace.ViewModel.PaginatedList<Marketplace.Models.Product>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<!-- Hero Section -->
<section class="tw-bg-blue-600 tw-text-white tw-text-center tw-py-20">
    <div class="tw-container tw-mx-auto">
        <h1 class="tw-text-4xl tw-font-bold">Welcome to MyShop</h1>
        <p class="tw-text-lg tw-mt-4">Discover the best products ato unbeatable prices.</p>
        <a href="/products" class="tw-mt-6 tw-inline-block tw-bg-white tw-text-blue-600 tw-py-2 tw-px-6 tw-rounded-lg tw-font-semibold hover:tw-bg-gray-200">
            Shop Now
        </a>
    </div>
</section>

<!-- Product List Section -->
<section class="tw-container tw-mx-auto tw-my-12">
    <h2 class="tw-text-2xl tw-font-bold tw-text-center tw-mb-6">Featured Products</h2>
    <div class="tw-px-10 tw-mb-10">
        <partial name="_Alert" />
        <form action="@Url.Action("Index", "Home")" method="get" class="tw-flex tw-items-center tw-bg-white tw-shadow-md tw-rounded-lg tw-overflow-hidden tw-w-full">
            <input type="text" name="name" placeholder="Search products..."
                   class="tw-w-full tw-py-3 tw-px-4 tw-text-gray-700 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-blue-500 tw-rounded-l-lg" value="@Context.Request.Query["name"]"/>
            <button type="submit" class="tw-bg-blue-500 tw-text-white tw-py-3 tw-px-6 tw-rounded-r-lg hover:tw-bg-blue-600 focus:tw-outline-none">
                Search
            </button>
        </form>
    </div>

    
    @if (Model != null && Model.Any())
    {
        <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 lg:tw-grid-cols-4 tw-gap-6 tw-px-10">
            @foreach (var product in Model)
            {
                <partial name="Components/_ProductCard" model="product" />
            }
        </div>
        <div class="tw-flex tw-justify-center tw-items-center tw-self-center tw-mt-8">
            @if (Model.HasPreviousPage)
            {
                <a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" class="tw-mx-2 tw-bg-blue-600 tw-text-white tw-px-4 tw-py-2 tw-rounded">Previous</a>
            }
            <span class="tw-mx-4 tw-text-lg tw-font-semibold">Page @Model.PageIndex of @Model.TotalPages</span>
            @if (Model.HasNextPage)
            {
                <a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" class="tw-mx-2 tw-bg-blue-600 tw-text-white tw-px-4 tw-py-2 tw-rounded">Next</a>
            }
        </div>
    }
    else
    {
        <p class="tw-text-center tw-text-gray-600 tw-min-h-[800px]">No products available at the moment.</p>
    }
</section>

@section AjaxScripts {
    <script src="~/Scripts/ProductAjax.js"></script>
}